In [1]:
z = bool(1)               #bool
print(z)
z1 = bool(0)
print(z1)

True
False

In [3]:
z = bytearray(8)          #bytearray
print(z)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')

In [5]:
z = chr(45)               #chr
print(z)
z = chr(43)
print(z)

-
+

In [7]:
z = ('I', 'am', 'Zahir')   #enumerate
z1 = enumerate(z)

print(list(z1))

[(0, 'I'), (1, 'am'), (2, 'Zahir')]

In [9]:
z = ['I', 'am', 'Zahir']    #frozenset
z1 = frozenset(z)
print(z1)

frozenset({'Zahir', 'I', 'am'})

In [12]:
z = pow(5, 3)               #pow
print(z)

125

In [13]:
z = (1, 2, 3, 4, 5)         #sum
z1= sum(z)
print(z1)

15

In [14]:
z = ("k", "p", "i", "t", "g", "q", "h", "i")
z1 = sorted(z)              #sorted
print(z1)

['g', 'h', 'i', 'i', 'k', 'p', 'q', 't']

In [19]:
z1 = abs(4.456)               #abs
print(z1)
var= abs(5+2j)
print(var)

4.456
5.385164807134504

In [20]:
a = ("Anushka", "Hritika", "Yashika")   #zip
b = ("Dipti", "Sakshi", "Prajakta")

friends = zip(a, b)
print(tuple(friends))

(('Anushka', 'Dipti'), ('Hritika', 'Sakshi'), ('Yashika', 'Prajakta'))