***Indexing in List***

In [7]:
list1=["zahir","riyaj","pathan"]
for ele in range(0,3):
  print(list1[ele])

zahir
riyaj
pathan

***Negative Indexing in Tuple***

In [47]:
names=("anushka","yashika","dipti","hritika")
print(names[-1])

hritika

***Membership test in list***

In [52]:
var="Anushka"
list=["Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta"]
print(var in list)        #in
print("Yashika" not in list)      #not in
print(var not in list)    #not in

True
False
False

***Membership Test in Tuple***

In [54]:
var="Anushka"
tuple=("Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta")
print(var in tuple)        #in
print("Yashika" not in tuple)      #not in
print(var not in tuple)    #not in

True
False
False

***Membership test in set***

In [56]:
set="Anushka"
set={"Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta"}
print(var in set)        #in
print("Yashika" not in set)      #not in
print(var not in set)    #not in

True
False
False

***Membership test in dictionary***

In [61]:
var="Anushka"
dict1={"Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta"}
dict2={"these","are","female","friends","of","school","time"}
dict3={"Anushka","was","my","best","friend"}
print(var in dict3)        #in
print("Sakshi" not in dict1)      #not in
print(var not in dict2)    #not in

True
False
True

***Iterating loop in Tuple***

In [62]:
tuple=("Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta")
print("This the list of my female friends of school time")
for ele in tuple:
  print(ele)

This the list of my female friends of school time
Hritika
Dipti
Anushka
Yashika
Sakshi
Prajakta

***Iterating loop in List***

In [68]:
list=[]
a=int(input())
c=0
for ele in range(a):
  temp=int(input())
  list.append(temp)
  print(list)

3
2
[2]
5
[2, 5]
6
[2, 5, 6]

***Iterating loop in Set***

In [69]:
set={"Hritika","Dipti","Anushka","Yashika","Sakshi","Prajakta"}
for x in set:
  print(x)

Sakshi
Yashika
Hritika
Dipti
Anushka
Prajakta

***Iterating loop in Dictionary***

In [70]:
set={"Hritika":"1","Dipti":"2","Anushka":"3","Yashika":"4","Sakshi":"5","Prajakta":"6"}
for x in set:
  print(x)

Hritika
Dipti
Anushka
Yashika
Sakshi
Prajakta